<h3 class="text-center">Books list</h3>
<hr>
<div class="alert" [class.alert.success]="level === 'success'" [class.alert.danger]="level === 'error'" *ngIf="message"  role="alert">
    {{message}}
</div>
<div class="d-flex justify-contentt-start grap-2 flex-wrap">
    <div *ngFor="let book of books.content">
        <app-book-card [book]="book" (borrow)="borrowBook($event)"></app-book-card>
    </div>
</div>
<div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" aria-label="previous" (click)="goToFirstPage()" [class.disabled] = "page == 0" ><i class="fas fa-angles-left"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" aria-label="previous" (click)="goToPreviousPage()" [class.disabled] = "page == 0"><i class="fas fa-angle-left"></i></a>
            </li>
            <li class="page-item" *ngFor="let _ of [].constructor(this.books.totalPages); let pageIndex = index">
                <a class="page-link" href="javascript:void(0)" aria-label="previous" (click)="goToPage(pageIndex)" [class.active] ="page == pageIndex">{{ pageIndex + 1 }}</a>
            </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="goToNextPage()" [class.disabled] = "isLastPage"><i class="fas fa-chevron-right"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" aria-label="" (click)="goToLastPage()" [class.disabled] = "isLastPage"><i class="fas fa-angles-right"></i></a>
            </li>
        </ul>
    </nav>
</div>